@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#FEF6D5] text-[#506324] antialiased selection:bg-[#F28919] selection:text-white;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  h1, h2, h3 {
    font-family: Georgia, Cambria, serif;
  }
}

.organic-card {
  background-color: #FEF6D5;
  border: 2px solid #506324;
  border-radius: 1.5rem;
}
